{
    "semi": true,
    "arrowParens": "always",
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "jsxSingleQuote": false,
    "tabWidth": 4
}
